@mixin padding_border($padding, $border) {
  padding: $padding;
  border-radius: $border;
}

@mixin colors($bg-color, $color, $border-color) {
  background-color: $bg-color;
  color: $color;
  border: 1px solid $border-color;

  &:hover {
    background-color: $color;
    color: $bg-color;
  }

  &:active {
    background-color: color-mix(in srgb, $color, black 5%);
  }
}

.button {
  // главные цвета
  --c-light: var(--color-light, #fafafa);
  --c-dark: var(--color-dark, #333);

  // варианты цветов
  --c-primary: var(--color-primary, #5d76cb);
  --c-secondary: var(--color-secondary, #333);
  --c-danger: var(--color-danger, #cd3636);

  // отключенная кнопка
  --c-disabled: var(--color-disabled, #666);

  // отспупы
  --pad: var(--button-padding, 0.5em 1em);
  --pad-big: var(--button-padding-big, 1em 2em);

  // закругления
  --br: var(--button-border-radius, 0.5em);
  --br-big: var(--button-border-radius-big, 1em);

  @include padding_border(var(--pad), var(--br));

  @include colors(var(--bg-color), var(--color), var(--border-color));

  font-size: inherit;
  transition: all 0.2s;
  cursor: pointer;

  // отключенная кнопка
  &:disabled {
    cursor: not-allowed;
    background-color: var(--c-disabled);
    border-color: var(--c-disabled);

    &:hover,
    &:active {
      color: var(--c-light);
      background-color: var(--c-disabled);
    }
  }
}
