:root {
  --color-light: #fafafa;
  --color-dark: #333;

  --color-primary: #5d76cb;
  --color-secondary: #333;
  --color-danger: #cd3636;

  --color-disabled: #666;

  // button
  --button-padding: 0.5em 1em;
  --button-padding-big: 1em 2em;

  --button-border-radius: 0.5em;
  --button-border-radius-big: 1em;
}
